#cart{

	padding-top:0.5rem;
	ul{
		li{
			border-bottom:1px solid orange;
			width: 100%;
			span{
				text-align:center;
				border-right:1px solid orange;
				display: inline-block;
				float:left;
				width: 18%;
				font:16px/18px "";
				img{
					display: block;
					width:100%;
				}
			}
			.s1{

			}
		}
	}
	.total{
		font-size: 14px;
		.d1{
			float: left;
		}
		.d1{
			float: right;
		}
	}
}
