#nowplaying{
	ul{
		li{
			overflow:hidden;
			padding:10px;
			img{
				float:left;
				width: 60px;
			}
		div{
			float: left;
			padding-left:15px;
			h3{
				font-size:16px;
				line-height:32px;
				color:#000;
			}
			p{
				color: #8e8e8e;
				font-size: 12px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: 100%;
				display: inline-block;
				height:24px;
			

			}
		}
		}
	}
}