*{
	margin:0px;
	padding:0px;
}

html,body{
	width:100%;
	height:100%;
	font-size:126px;
}


.active{
	background:red;
}
.active2{
	color: #fe6e00;
	border-bottom: solid;
}

section{
	padding-top:50px;
}